.registration-container {
  width: 100%;
}
.success-screen {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

  p {
    margin-top: 56px;
    @include fs-18;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.065em;
  }
}
