.event {
  margin-bottom: 30px;
  align-self: center;

  .event__cover {
    @include event-cover-photo;
    height: 231px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      transition: transform .3s ease;
    }
  }

  &:hover {
    .event__cover {
      img {
        transform: scale(1.1);
      }
    }
    h2 > a {
      color: $primary-color !important;
      opacity: 0.8;
    }
  }


  &__header {
    @include fs-18;
  }

  &__time {
    display: inline-block;
    @include fs-12;
    @include fs-gray-1;
  }

  &__amount {
    @include fs-14;
    @include fs-gray-1;
  }
}
.status {
  font-weight: bold;

  &--red {
    color: $red;
  }
  &--green {
    color: $green;
  }
}
