.input-container {
  margin-bottom: 30px;

  label {
    display: block;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
  }

  input {
    height: 51px;
    width: 100%;
    background: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-top: 14px;
    padding: 16px;
  }
}
